<div class="row position-relative justify-content-center">
  <div class="col-sm-4 col-lg-4 mb-2 ">
  <div class="card border h-100 border-primary">
    <div
      class="bg-holder d-none d-lg-block bg-card"
      style="background-image:url(http://localhost:3000/assets/img/icons/spot-illustrations/corner-4.png);"
    ></div>
    <div class="card-body position-relative my-0 py-0">
      <div class="card-title mb-1">
        <p class="mb-0 text-center ">Inscription d'un élève</p>
      </div>
    </div>
    <button class="btn btn-primary position-relative" type="button" data-bs-toggle="modal" data-bs-target="#DroitstaticBackdrop">
      <span class="fas fa-money-bill-wave" data-fa-transform="shrink-3"></span> Droit
    </button>

  </div>
</div>
  <div class="col-sm-4 col-lg-4 mb-2">
    <div class="card border h-100 border-secondary">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(http://localhost:3000/assets/img/icons/spot-illustrations/corner-4.png);">
        </div>
      <div class="card-body position-relative my-0 py-0">
      <div class="card-title mb-1">
        <p class="mb-0 text-center ">Payement d'un écolage</p>
      </div>
      </div>
    <button class="btn btn-secondary position-relative" type="button" data-bs-toggle="modal" data-bs-target="#EcolagestaticBackdrop">
      <span class="fas fa-dollar-sign me-1" data-fa-transform="shrink-3"></span> Ecolage
    </button>
    </div>
  </div>
  <div class="col-sm-4 col-lg-4 mb-2">
    <div class="card border h-100 border-success">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(http://localhost:3000/assets/img/icons/spot-illustrations/corner-4.png);">
        </div>
      <div class="card-body position-relative my-0 py-0">
      <div class="card-title mb-1">
        <p class="mb-0 text-center ">Les autres frais de scolarité</p>
      </div>
      </div>
      <button class="btn btn-success position-relative" type="button" data-bs-toggle="modal" data-bs-target="#FraisScostaticBackdrop">
        <span class="fas fa-donate me-1" data-fa-transform="shrink-3"></span> Frais Scolarité
      </button>
    </div>
  </div>
  <div class="col-sm-12 col-lg-12 mb-12 mb-2">
    <div class="card border h-100 border-light">
      <div class="card-body">
          <div class="table-responsive scrollbar">
  <table class="table table-hover table-striped overflow-hidden">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th class="text-end" scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <td class="text-nowrap">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img class="rounded-circle" src="../../assets/img/team/4.jpg" alt="" />
            </div>
            <div class="ms-2">Ricky Antony</div>
          </div>
        </td>
        <td class="text-nowrap">ricky@example.com</td>
        <td class="text-nowrap">(201) 200-1851</td>
        <td class="text-nowrap">2392 Main Avenue, Penasauka</td>
        <td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">Completed<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
        </td>
        <td class="text-end">$99</td>
      </tr>
      <tr class="align-middle">
        <td class="text-nowrap">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img class="rounded-circle" src="../../assets/img/team/13.jpg" alt="" />
            </div>
            <div class="ms-2">Emma Watson</div>
          </div>
        </td>
        <td class="text-nowrap">emma@example.com</td>
        <td class="text-nowrap">(212) 228-8403</td>
        <td class="text-nowrap">2289 5th Avenue, New York</td>
        <td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">Completed<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
        </td>
        <td class="text-end">$199</td>
      </tr>
      <tr class="align-middle">
        <td class="text-nowrap">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <div class="avatar-name rounded-circle"><span>RA</span></div>
            </div>
            <div class="ms-2">Rowen Atkinson</div>
          </div>
        </td>
        <td class="text-nowrap">rown@example.com</td>
        <td class="text-nowrap">(201) 200-1851</td>
        <td class="text-nowrap">112 Bostwick Avenue, Jersey City</td>
        <td><span class="badge badge rounded-pill d-block p-2 badge-soft-primary">Processing<span class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span></span>
        </td>
        <td class="text-end">$755</td>
      </tr>
      <tr class="align-middle">
        <td class="text-nowrap">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img class="rounded-circle" src="../../assets/img/team/2.jpg" alt="" />
            </div>
            <div class="ms-2">Antony Hopkins</div>
          </div>
        </td>
        <td class="text-nowrap">antony@example.com</td>
        <td class="text-nowrap">(901) 324-3127</td>
        <td class="text-nowrap">3448 Ile De France St #242</td>
        <td><span class="badge badge rounded-pill d-block p-2 badge-soft-secondary">On Hold<span class="ms-1 fas fa-ban" data-fa-transform="shrink-2"></span></span>
        </td>
        <td class="text-end">$50</td>
      </tr>
      <tr class="align-middle">
        <td class="text-nowrap">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img class="rounded-circle" src="../../assets/img/team/3.jpg" alt="" />
            </div>
            <div class="ms-2">Jennifer Schramm</div>
          </div>
        </td>
        <td class="text-nowrap">jennifer@example.com</td>
        <td class="text-nowrap">(828) 382-9631</td>
        <td class="text-nowrap">659 Hannah Street, Charlotte</td>
        <td><span class="badge badge rounded-pill d-block p-2 badge-soft-warning">Pending<span class="ms-1 fas fa-stream" data-fa-transform="shrink-2"></span></span>
        </td>
        <td class="text-end">$150</td>
      </tr>
    </tbody>
  </table>
</div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 col-lg-12 mb-2 ">
  <div class="card border h-100 border-light">
    <div class="card-body position-relative my-0 py-0">
      <div class="card-title my-1">
        <p class="mb-0">Total</p>
      </div>
    </div>

  </div>
</div>
</div>



<!-- Modals pour INSCRIPTION -->
<div class="modal fade" id="DroitstaticBackdrop" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
          <h4 class="mb-1" id="staticBackdropLabel">Inscription d'un nouveaux ou anciens élèves</h4>
          <p class="fs--2 mb-0">Added by <a class="link-600 fw-semi-bold" href="#!">{{user.username}}</a></p>
        </div>
        <div class="p-4">
          <div class="row">
            <div class="col-lg-9">
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-tag" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Labels</h5>
                  <div class="d-flex"><span class="badge me-1 py-2 badge-soft-success">New</span><span class="badge me-1 py-2 badge-soft-primary">Goal</span><span class="badge me-1 py-2 badge-soft-info">Enhancement</span>
                    <div class="dropdown dropend">
                      <button class="btn btn-sm btn-secondary px-2 fsp-75 bg-400 border-400 dropdown-toggle dropdown-caret-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-plus"></span></button>
                      <div class="dropdown-menu">
                        <h6 class="dropdown-header py-0 px-3 mb-0">Select Label</h6>
                        <div class="dropdown-divider"></div>
                        <div class="px-3">
                          <button class="badge-soft-danger dropdown-item rounded-1 mb-2" type="button">New</button>
                          <button class="badge-soft-primary dropdown-item rounded-1 mb-2" type="button">Goal</button>
                          <button class="badge-soft-info dropdown-item rounded-1 mb-2" type="button">Enhancement</button>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="px-3">
                          <button class="btn btn-sm d-block w-100 btn-outline-secondary border-400">Create Label</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Description</h5>
                  <p class="text-word-break fs--1">The illustration must match to the contrast of the theme. The illustraion must described the concept of the design. To know more about the theme visit the page. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <h6 class="mt-5 mt-lg-0">Add To Card</h6>
              <ul class="nav flex-lg-column fs--1">
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-user me-2"></span>Members</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-tag me-2"></span>Label</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-paperclip me-2"></span>Attachments</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fa fa-align-left me-2"></span>Description </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modals pour Payé ECOLAGE -->
<div class="modal fade" id="EcolagestaticBackdrop" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
          <h4 class="mb-1" id="staticBackdropLabel">Paiement d'un écolage des élèves</h4>
          <p class="fs--2 mb-0">Added by <a class="link-600 fw-semi-bold" href="#!">{{user.username}}</a></p>
        </div>
        <div class="p-4">
          <div class="row">
            <div class="col-lg-9">
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-tag" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Labels</h5>
                  <div class="d-flex"><span class="badge me-1 py-2 badge-soft-success">New</span><span class="badge me-1 py-2 badge-soft-primary">Goal</span><span class="badge me-1 py-2 badge-soft-info">Enhancement</span>
                    <div class="dropdown dropend">
                      <button class="btn btn-sm btn-secondary px-2 fsp-75 bg-400 border-400 dropdown-toggle dropdown-caret-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-plus"></span></button>
                      <div class="dropdown-menu">
                        <h6 class="dropdown-header py-0 px-3 mb-0">Select Label</h6>
                        <div class="dropdown-divider"></div>
                        <div class="px-3">
                          <button class="badge-soft-danger dropdown-item rounded-1 mb-2" type="button">New</button>
                          <button class="badge-soft-primary dropdown-item rounded-1 mb-2" type="button">Goal</button>
                          <button class="badge-soft-info dropdown-item rounded-1 mb-2" type="button">Enhancement</button>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="px-3">
                          <button class="btn btn-sm d-block w-100 btn-outline-secondary border-400">Create Label</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Description</h5>
                  <p class="text-word-break fs--1">The illustration must match to the contrast of the theme. The illustraion must described the concept of the design. To know more about the theme visit the page. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <h6 class="mt-5 mt-lg-0">Add To Card</h6>
              <ul class="nav flex-lg-column fs--1">
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-user me-2"></span>Members</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-tag me-2"></span>Label</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-paperclip me-2"></span>Attachments</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fa fa-align-left me-2"></span>Description </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modals pour Payé AUTRES FRAIS SCOLARITE -->
<div class="modal fade" id="FraisScostaticBackdrop" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
          <h4 class="mb-1" id="staticBackdropLabel">Paiement d'une autre frais de scolaritépour les élèves</h4>
          <p class="fs--2 mb-0">Added by <a class="link-600 fw-semi-bold" href="#!">{{user.username}}</a></p>
        </div>
        <div class="p-4">
          <div class="row">
            <div class="col-lg-9">
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-tag" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Labels</h5>
                  <div class="d-flex"><span class="badge me-1 py-2 badge-soft-success">New</span><span class="badge me-1 py-2 badge-soft-primary">Goal</span><span class="badge me-1 py-2 badge-soft-info">Enhancement</span>
                    <div class="dropdown dropend">
                      <button class="btn btn-sm btn-secondary px-2 fsp-75 bg-400 border-400 dropdown-toggle dropdown-caret-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-plus"></span></button>
                      <div class="dropdown-menu">
                        <h6 class="dropdown-header py-0 px-3 mb-0">Select Label</h6>
                        <div class="dropdown-divider"></div>
                        <div class="px-3">
                          <button class="badge-soft-danger dropdown-item rounded-1 mb-2" type="button">New</button>
                          <button class="badge-soft-primary dropdown-item rounded-1 mb-2" type="button">Goal</button>
                          <button class="badge-soft-info dropdown-item rounded-1 mb-2" type="button">Enhancement</button>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="px-3">
                          <button class="btn btn-sm d-block w-100 btn-outline-secondary border-400">Create Label</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Description</h5>
                  <p class="text-word-break fs--1">The illustration must match to the contrast of the theme. The illustraion must described the concept of the design. To know more about the theme visit the page. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <h6 class="mt-5 mt-lg-0">Add To Card</h6>
              <ul class="nav flex-lg-column fs--1">
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-user me-2"></span>Members</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-tag me-2"></span>Label</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-paperclip me-2"></span>Attachments</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fa fa-align-left me-2"></span>Description </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>